

$field-box-size: 50px;


@import '@material/react-button/index.scss';
@import '@material/react-text-field/index.scss';

.container {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.lsystem-form {
    text-align: center
}

.lsystem-canvas {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.field-row {
    height: $field-box-size;
    margin: 1px;
    .field-cell {
        margin: 1px;
        display: inline-block;
        width: $field-box-size;
        height: $field-box-size;

        &.empty {
            background: #f3f2f3;
        }

        &.fire {
            background: red;
        }
    }
}
